<div class="field-container" [class.disabled]="gameRunning">

  <div class="match-block" [class.field-added-more]="i+1 > rdcGameSetting.count_field" *ngFor="let match of listOfRandomMatch; let i = index">
    <div class="match-block--empty" *ngIf="match.length === 0">
      Terrain vide
    </div>

    <div class="match-block--player" *ngFor="let player of match; let iP = index">
      <span>{{player.name}}</span>
      <span *ngIf="iP < 2">Equipe 1</span>
      <span *ngIf="iP >= 2 ">Equipe 2</span>
      <i>({{player.score}})</i>
    </div>

  </div>

</div>

<div class="waiting-list" *ngIf="waitingList.length  > 0">

  Liste des joueurs en attente :

  <div class="waiting-list--player" *ngFor="let player of waitingList">
    {{player.name}}
  </div>
</div>




<div class="rdc-game-footer">

<!--  <div class="list-of-waiting-list-container">-->
<!--    liste des joueurs en attente-->
<!--    <div class="list-of-waiting-list" *ngFor="let waitingList of listOfWaitingList">-->
<!--      <strong>{{waitingList.length}}</strong>-->
<!--      <div class="player" *ngFor="let player of waitingList">{{player.name}}</div>-->
<!--    </div>-->
<!--  </div>-->


<!--  <div class="list-of-teams-list-container">-->
<!--    liste des joueurs-->
<!--    <div class="list-of-teams-list" *ngFor="let teams of listOfTeams">-->

<!--      <strong>{{teams.length}}</strong>-->

<!--      <div class="team" *ngFor="let player of teams; let i = index; let last = last">-->
<!--        {{player.name}}-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

  <button mat-flat-button color="accent" (click)=" gameRunning ? stopGame() : runGame()">
    {{gameRunning ? 'Stopper la partie' : 'Lancer la partie'}}
  </button>

  <button [disabled]="gameRunning" class="generate-game" mat-flat-button color="primary"
          (click)="generatePlayerLists()">
    Génerer une nouvelle partie
  </button>


  <button class="player-score" mat-flat-button color="warn" [disabled]="gameRunning">
    Saisir le score des joueurs
  </button>

</div>


<div class="rdc-timer" *ngIf="gameRunning && rdcTimer">
  <div class="rdc-timer--wrapper">
    <span>{{rdcTimer}}</span>

    <button mat-flat-button color="accent" (click)="gamePause? playGame() : pauseGame()">
      {{gamePause ? 'Continuer' : 'Pause'}}
    </button>
  </div>

</div>
