:host {
  display: block;
  width: 100%;
  height: calc(100% - 64px);

  .field-container {
    display: flex;
    align-items: center;
    padding: 32px;
    flex-wrap: wrap;
    margin-bottom: 120px;
    gap: 100px;
    justify-content: space-around;

    &.disabled {
      opacity: .2;
    }

    .match-block {
      border-radius: 8px;
      display: flex;
      width: 200px;
      height: 200px;
      justify-content: space-between;
      flex-wrap: wrap;
      background-color: var(--rdc-primary-color);
      color: #fff;

      &.field-added-more {
        background: #880e4f;
      }

       &--player {
         width: 47%;
         height: 47%;
         border: 1px solid #fff;
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         padding: 2px;

         span {
           max-width: 100%;
           text-overflow: ellipsis;
           overflow: hidden;
         }
       }

      &--empty {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
      }

    }
  }

  .waiting-list {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    background: #880e4f;
    border-radius: 8px;
    width: 300px;
    margin: 0 auto;
    flex-wrap: wrap;
    padding: 32px;

    &--player {
      padding: 4px;
      border-radius: 4px;
      background: #460729;
      color: #fff;
      font-size: 14px;
    }
  }

  .list-of-teams-list-container,
  .list-of-waiting-list-container {
    display: flex;
    align-items: center;
    gap: 60px;
    padding: 32px;
    min-height: 400px;
  }


  .rdc-game-history {
    background-color: #004b9c;

  }

  .rdc-game-footer {
    position: fixed;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    width: 100%;


    button {

      border-radius: 0 !important;

      &.player-score {
        --mdc-filled-button-container-color: #36f4db
      }

      height: 60px !important;
      --mdc-filled-button-label-text-size: 40px;
      &.generate-game {
        --mdc-filled-button-container-color: #{var(--rdc-primary-color)}
      }
    }
  }

  .rdc-timer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--rdc-primary-color);

    padding: 24px;
    height: 300px;
    width: 350px;
    border-radius: 8px;
    color: #fff;

    &--wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
      font-size: 80px;
      gap: 37px;
    }
  }

}
