<div class="field-container" [class.disabled]="gameRunning">

  <div class="match-block" [class.field-added-more]="i+1 > rdcGameSetting.count_field" *ngFor="let match of listOfRandomMatch; let i = index">
    <div class="match-block--empty" *ngIf="match.length === 0">
      Terrain vide
    </div>

    <div class="match-block--player" *ngFor="let player of match; let iP = index">
      <span>{{player.name}}</span>
      <span *ngIf="iP < 2">Equipe 1</span>
      <span *ngIf="iP >= 2 ">Equipe 2</span>
      <i>({{player.score}})</i>
    </div>

  </div>

</div>

<div class="waiting-list" *ngIf="waitingList.length  > 0">

  Liste des joueurs en attente :

  <div class="waiting-list--player" *ngFor="let player of waitingList">
    {{player.name}}
  </div>
</div>

<div class="rdc-game-footer">

  <button mat-flat-button color="accent" (click)=" gameRunning ? stopGame() : runGame()">
    {{gameRunning ? 'Stopper la partie' : 'Lancer la partie'}}
  </button>

  <button [disabled]="gameRunning" class="generate-game" mat-flat-button color="primary"
          (click)="generatePlayerLists()">
    Génerer une nouvelle partie
  </button>


  <button class="player-score" mat-flat-button color="warn" [disabled]="gameRunning">
    Saisir le score des joueurs
  </button>

</div>


<div class="rdc-timer" *ngIf="gameRunning && rdcTimer">
  <div class="rdc-timer--wrapper">
    <span>{{rdcTimer}}</span>

    <button mat-flat-button color="accent" (click)="gamePause? playGame() : pauseGame()">
      {{gamePause ? 'Continuer' : 'Pause'}}
    </button>
  </div>

</div>
